---
import Layout from '../layouts/Layout.astro'
import Footer from '../layouts/Footer.astro'
---

<Layout title='About'>
    <h1>About</h1>
    <Footer />
</Layout>


<style>
    h1 {
        color: white;
        text-align: center;
        margin-top: 5rem;
    }
</style>